/*--------------------------------------------------------------
10.04 Content - Pages
--------------------------------------------------------------*/

.page-content {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}