/*--------------------------------------------------------------

 ad888888b,    88888888888 88
d8"     "88    88          88                                                       ,d
        a8P    88          88                                                       88
     aad8"     88aaaaa     88  ,adPPYba, 88,dPYba,,adPYba,   ,adPPYba, 8b,dPPYba, MM88MMM ,adPPYba,
     ""Y8,     88"""""     88 a8P_____88 88P'   "88"    "8a a8P_____88 88P'   `"8a  88    I8[    ""
        "8b    88          88 8PP""""""" 88      88      88 8PP""""""" 88       88  88     `"Y8ba,
Y8,     a88    88          88 "8b,   ,aa 88      88      88 "8b,   ,aa 88       88  88,   aa    ]8I
 "Y888888P'    88888888888 88  `"Ybbd8"' 88      88      88  `"Ybbd8"' 88       88  "Y888 `"YbbdP"'


--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}